<div class="auth-container">
  <div class="card p-4 shadow" style="max-width: 450px; width: 100%">
    <h4 class="text-center mb-3">Reset Password</h4>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>New Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="newPassword"
          name="newPassword"
          placeholder="Enter new password"
          required
        />
      </div>

      <div class="mb-3">
        <label>Confirm Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          placeholder="Re-enter password"
          required
        />
      </div>

      <button class="btn w-100" style="background-color: #ee6931; color: white">
        Save Password
      </button>

      <p class="text-center mt-3">
        <a routerLink="/login" style="color: #ee6931">Back to Login</a>
      </p>
    </form>
  </div>
</div>
