a {
  text-decoration: none;
  color: #ee6931;
}

.form {
  min-height: 85vh;
  background-image: url('../../../../public/assets/p1.jpeg');
  background-size: cover;
  background-position: center;
}

.formcard {
  width: 100%;
  max-width: 480px;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: black;
  transition: all 0.3s ease;
}
.formcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.form-control {
  background-color: #ffffff8f !important;
}

.error small {
  color: #e53935;
  font-size: 0.85rem;
}

.google-btn {
  background-color: #ee6931;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  transition: background 0.3s ease;
}

.google-btn:hover {
  background-color: #d95f2c;
}

.message-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.4s ease-in-out;
}

.message-box.success {
  border-left: 6px solid #43a047;
}

.message-box.error {
  border-left: 6px solid #e53935;
}

.message-box .icon {
  font-size: 50px;
  margin-bottom: 1rem;
}

.message-box.success .icon {
  color: #43a047;
}

.message-box.error .icon {
  color: #e53935;
}

.message-box p {
  font-size: 1.2rem;
  font-weight: 500;
}

.back-btn {
  background-color: #ee6931;
  color: #fff;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.back-btn:hover {
  background-color: #d95f2c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
