<div
  class="d-flex justify-content-center align-items-center flex-column"
  style="min-height: 77.5vh"
>
  <div class="card p-4 shadow" style="max-width: 450px; width: 100%">
    <h4 class="text-center mb-3">Create Account</h4>
    <form>
      <div class="mb-3">
        <label>Full Name</label>
        <input type="text" class="form-control" placeholder="Your name" />
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Your email" />
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Create password" />
      </div>
      <button class="btn w-100" style="background-color: #ee6931; color: white">Register</button>
      <p class="text-center mt-3">Already have an account? <a routerLink="/login">Login</a></p>
    </form>
  </div>
</div>
